[submodule "submodule/MeshFix-V2.1"]
	path = submodule/MeshFix-V2.1
	url = https://github.com/MarcoAttene/MeshFix-V2.1
[submodule "submodule/Doppelganger_Util"]
	path = submodule/Doppelganger_Util
	url = https://github.com/n-taka/Doppelganger_Util.git
