[submodule "submodule/Doppelganger_Util"]
	path = submodule/Doppelganger_Util
	url = https://github.com/n-taka/Doppelganger_Util.git
[submodule "plugins/Basic/saveScreenshotAll/submodule/psd_sdk"]
	path = plugins/Basic/saveScreenshotAll/submodule/psd_sdk
	url = https://github.com/n-taka/psd_sdk
[submodule "plugins/Basic/saveScreenshot/submodule/psd_sdk"]
	path = plugins/Basic/saveScreenshot/submodule/psd_sdk
	url = https://github.com/n-taka/psd_sdk
[submodule "plugins/Print/repairMesh/submodule/MeshFix-V2.1"]
	path = plugins/Print/repairMesh/submodule/MeshFix-V2.1
	url = https://github.com/MarcoAttene/MeshFix-V2.1
[submodule "plugins/Print/repairAllMeshes/submodule/MeshFix-V2.1"]
	path = plugins/Print/repairAllMeshes/submodule/MeshFix-V2.1
	url = https://github.com/MarcoAttene/MeshFix-V2.1
